@model List<BookViewModel>
<div style="margin-top: 10px; float: left;">
    <h3>Polecane dla ciebie: <i class="icon-book"></i></h3>
    <h5>Ponieważ ostatnio oglądałeś książki z gatunku "@ViewBag.Type"</h5>
    <hr />
    @foreach (BookViewModel book in Model)
    {
        <a asp-action="Details" asp-route-id="@book.Id">
            <div class="book-s">
                <div class="title"><center>@book.Title</center></div>

                @if (book.Picture.Any())
                {
                    var base64 = Convert.ToBase64String(book.Picture);
                    var img = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@img" class="cover" />
                }
                else
                {
                    <i class="icon-book" style="font-size: 80px; text-align: center;"></i>
                }

                <div style="font-size: 16px; color:black;">@book.Author</div>
                <div style="font-size: 14px;">@book.TypeOfBook</div>
            </div>
        </a>
    }
</div>